html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*-----------START---------------------------*/

html {
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {

    height: 10vw;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: white;
    border-bottom: 1px solid black;

}




#logo {
  /*
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto; */
    height: 60%;
    width: 43%;
    margin: auto;
    display: block;
   
}

#logo img {
  width: 100%;
  height: auto;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    width: 7.1rem;
    height: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: black;
    border: none;
    border-radius: 10%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    }
  
    
  nav a:hover {
    color: #fff;
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(56, 97, 81, 0.4);
    transform: translateY(-2px);
  }

section {
    height: 100vw;
    border: 1px solid red;
  
}

.content {
  background-color: rgba(128, 128, 128, 0.3);
  height: 20%;
  width: 30%;
  position: relative;
  z-index: 2;
  color: white;
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  border: none;
}

.content h2 {
    font-size: 4.3;
    font-family: Arial, Helvetica, sans-serif;
}

.content p {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    /* 50% transparent gray */
}


.video-background {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

#home{
    height: 55vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 4vw;

}






/*-----------------EMPTY SPACE -----------------*/
#empty {
    width: 100%;
    height: 200px;
    background-attachment: fixed;
    background-image: url('background1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-----------------SECOND SECTION -----------------*/


#second-section{
    
    height: 100%;
    padding: 0;
    
}


.wrapperVideo , .wrapperPhoto {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    align-content: center;
    padding-top: 11vw;
    border: 1px solid yellow;
    
}

.wrapperPhoto {
    padding-top: 5vw;
}

.sec-info {
width: 45%;
border: 1px solid red;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.sec-info h2 {
    margin-bottom: 1rem;
}

#second-section img {
width: 250px;
height: 400px;
border: 1px solid white;
}

#second-section video {
    width: 250px;
    height: 400px;
    border: 1px solid white;
}


/*-----------------THIRD SECTION -----------------*/


#third-section{
    
    
    padding: 0;
    height: auto;
    
}


.wrapper-third-section {
   
    color: black;
    padding-top: 11vw;
    border: 1px solid yellow;
    
    
}



.wrapper-third-section .sec-info {
width: 80%;
margin: auto;
border: 1px solid red;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.sec-info h2 {
    margin-bottom: 1rem;
}

.section-three-photos {
    display: flex;
    justify-content: center;
    border: 1px solid green;
    margin-top: 1rem;
}

.section-three-photos figure{
    border: 1px solid black ;
    margin: 2rem;
}

.section-three-photos img {
width: 250px;
height: 350px;
border: 1px solid white;
}



/*-----------------FOURTH SECTION -----------------*/

#fourth-section {
height: auto;

}

.wrapper-fourth-section {
    padding-top: 11vw;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid blueviolet;
}


.wrapper-fourth-section2 {
    display: flex;
    justify-content: space-evenly;
    margin:3rem;
  }
  
  .emerald-specification {
    width: 40%;
  }
  
  .wrapp-spec-photo {
    width: 40%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .wrapp-spec-photo p {
    text-align: center;
    color: white
  }
  
  .spec-photos {
    display: flex;
    justify-content: center;
  }
  
  .spec-photos img {
    width: auto; /* Adjust as needed */
    height: auto;
  }
  
  /* Additional styling */

  table {
    margin-bottom: 20px;
  }
  
  th {
    text-align: left;
  }
  
  td {
    padding-left: 10px;
  }
  
  div.spec-photos,
  div.spec-photos img {
    border-radius: 5px;
  }
/* TABLE STYLING --------------------*/
table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    
    th {
      background-color: #f2f2f2;
    }
/* FINISH TABLE STYLING --------------------*/







/*-----------------FIFTH SECTION -----------------*/

#fifth-section {
  height: 90vw;
  overflow: hidden;
  border: 1px solid salmon;
  background-color: black;
  color: white;
}

.wrapper-fifth-section {
  padding-top: 11vw;
  max-width: 60%;
  margin: 0 auto;
  border: 1px solid blue;
  display: flex;
}

.wrapper-fifth-section .sec-info {
  height: 600px;
  text-align: center;
}

.wrapper-fifth-section .sec-info h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.wrapper-fifth-section .sec-info ul {
  list-style: none;
  text-align: left;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.wrapper-fifth-section .sec-info li {
  margin-bottom: 5px;
}


.wrapper-fifth-section .sec-info a {
  color: #0066cc;
  text-decoration: none;
}

.wrapper-fifth-section .sec-info a:hover {
  text-decoration: underline;
}



.barcode {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.barcode img {
  width: 60%;
  height: 40%;
  margin-bottom: 5px;
}

button.email-button {
  display: inline-block;
  padding: 10px 20px;
  background-color:gainsboro;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid blue;
  text-decoration: none;
}

button.email-button .email-link {
  color: white;
  text-decoration: none;
}

button.email-button:hover .email-link {
  text-decoration: underline;
}

button.email-button:hover {
  background-color: white
}
