html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*-----------START---------------------------*/

html {
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {

    height: 7vw;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: white;

}




#logo {
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 60%;
    width: 60%;
    margin: auto;
   
}

nav {
   
  
    
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    width: 115px;
    height: 33px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: black;
    border: none;
    border-radius: 10%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    }
  
    
  nav a:hover {
    color: #fff;
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(56, 97, 81, 0.4);
    transform: translateY(-2px);
  }

section {
    height: 100vw;
    border: 1px solid red;
}


.video-background {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

#home{
    height: 55vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


 .content {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    border: 1px solid black;
}