html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*-----------START---------------------------*/

html {
    font-size: 16px;
    box-sizing: border-box;
    max-width: 100%;
    scroll-behavior: smooth;
}



header {

    height: 10vw;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: white;

}

body {
  font-family: 'Reem Kufi Ink', sans-serif;
}


#logo {
  /*
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position: center;
   */
    /*
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position: center;
   */
    height: 60%;
    width: 43%;
    margin: auto;
    display: block;
    display: flex;
    justify-content: center;
    border: 1px solid yellow;
    align-items: center;
}

#logo img {
  max-width: 100%;
  height: 60%;
  border: solid black;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    
}

nav ul li {
  
  width: 12%;
  
}
nav a {
    width: 100%;
    height: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: black;
    border: none;
    border-radius: 10%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    }
  
    
  nav a:hover {
    color: #fff;
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(56, 97, 81, 0.4);
    transform: translateY(-2px);
  }


  nav  .icon {
    display: none;
  }

section {
    height: 100vw;
   
  
}

.content {
  background-color: rgba(128, 128, 128, 0.4);
  height: 20%;
  width: auto;
  position: relative;
  z-index: 2;
  color: white;
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding-top: 10px;
  border: none;
  top: 10%;
}

.content h1 {
    font-size: 4rem;
    font-family: 'Reem Kufi Ink', sans-serif;
}

.content p {
    font-size: 6rem;
    font-family: 'Whisper', cursive;
    font-size: 5rem;
    color: #F9F192;
    /* 50% transparent gray */
}


.video-background {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

#home{
    height: 55vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 4vw;

}






/*-----------------EMPTY SPACE -----------------*/
#empty {
    width: 100%;
    height: 20vw;
    background-attachment: fixed;
    background-image: url('background1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-----------------SECOND SECTION -----------------*/


#second-section{
    
    height: 100%;
    padding: 0;
    background-color: black;
    
}


.wrapperVideo , .wrapperPhoto {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    align-content: center;
    padding-top: 11vw;
  
    width: 100%;
    
}

.wrapperVideo video {
  max-width: 35%;
  height: auto;
   height: 400px;
 

}

.wrapperPhoto {
    padding-top: 5vw;
    padding-bottom: 5vw;
    width: 80%;
    margin: auto;
}

.sec-info {
width: 45%;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.sec-info h2 {
    margin-bottom: 1rem;
}

#second-section img {
max-width: 70%;
height: auto;

}



/*-----------------THIRD SECTION -----------------*/


#third-section{
    
    
    padding: 0;
    height: auto;
    
}


.wrapper-third-section {
   
    color: black;
    padding-top: 11vw;
   
    
    
}



.wrapper-third-section .sec-info {
width: 80%;
margin: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.sec-info h2 {
    margin-bottom: 1rem;
}

.section-three-photos {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.section-three-photos figure{
    margin: 2rem;
    width: 100%;
}

.section-three-photos img {
width: 100%;
height: 350px;
}



/*-----------------FOURTH SECTION -----------------*/

#fourth-section {
  max-width: 100%;
height: auto;
}

.wrapper-fourth-section {
    padding-top: 11vw;
    display: flex;
    justify-content: center;
    max-width: 100%;
}


.sec-info {
display: flex;
flex-direction: column;
justify-content: space-evenly;

}


.sec-info img {
  max-width: 60%;
  height: auto;
}
.emeraldServicio {
max-width: 50%;
height: auto;
}


.emeraldServicio img {
  max-width: 100%;
  height: auto;
}




.wrapper-fourth-section2 {
    display: flex;
    justify-content: space-evenly;
    margin:3rem;
    max-width: 100%;
  }
  
  .emerald-specification {
    max-width: 40%;
  }


  .emerald-specification table {
    max-width: 100%;
  }
  
  .wrapp-spec-photo {
    max-width: 40%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .wrapp-spec-photo p {
    text-align: center;
    color: white
  }
  
  .spec-photos {
    display: flex;
    justify-content: center;
    max-height: 100%;

  }
  
  .spec-photos img {
    max-width: 50%; /* Adjust as needed */
    height: auto;
  }
  
  /* Additional styling */

  table {
    margin-bottom: 20px;
  }
  
  th {
    text-align: left;
  }
  
  td {
    padding-left: 10px;
  }
  
  div.spec-photos,
  div.spec-photos img {
    border-radius: 5px;
  }
/* TABLE STYLING --------------------*/
table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      padding: 0.5rem;
      text-align: left;
    }
    
    th {
      background-color: #f2f2f2;
    }
/* FINISH TABLE STYLING --------------------*/







/*-----------------FIFTH SECTION -----------------*/

#fifth-section {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  background-color: black;
  color: white;
}

.wrapper-fifth-section {
  padding-top: 10vw;
  padding-bottom: 10vw;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.wrapper-fifth-section .sec-info {
  width: 35%;
  height: 100%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.wrapper-fifth-section .sec-info h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.wrapper-fifth-section .sec-info ul {
  list-style: none;
  text-align: left;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.wrapper-fifth-section .sec-info li {
  margin-bottom: 5px;
}


.wrapper-fifth-section .sec-info a {
  color: #0066cc;
  text-decoration: none;
}

.wrapper-fifth-section .sec-info a:hover {
  text-decoration: underline;
}



.barcode {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.barcode img {
  width: 50%;
  height: auto;
  margin-bottom: 5px;
}

button.email-button {
  padding: 1rem;
  background-color:gainsboro;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid blue;
  text-decoration: none;
}

button.email-button .email-link {
  color: white;
  text-decoration: none;
}

button.email-button:hover .email-link {
  text-decoration: underline;
}

button.email-button:hover {
  background-color: white
}


footer {
  background-color: black;
  color: whitesmoke;
  text-align: center;
}








/*Adding media querys so the website is responsive*/

/* Medium devices (tablets, 768px and up) */
@media (max-width: 390px) {
 
html {
  font-size: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


header {

  height: 15vw;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white;
  border-bottom: 1px solid black;

}

body {
font-family: 'Reem Kufi Ink', sans-serif;
}


#logo {
/*
  background-image: url(logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto; */
  height: 60%;
  width: 43%;
  margin: auto;
  display: block;
 
}

#logo  {
width: 60%;
height: auto;
}

nav {
  display: n;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  width: 7.1rem;
  height: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: black;
  border: none;
  border-radius: 10%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  }

  
nav a:hover {
  color: #fff;
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(56, 97, 81, 0.4);
  transform: translateY(-2px);
}


nav  .icon {
  display: none;
}
  
}

@media (max-width: 575.98px) {
  /* CSS styles for extra small devices go here */
  html {
    font-size: 10px;
    
  }

  #logo {
    margin: auto;
  }

}

/* Small devices (phones, 576px and up) */
@media (max-width: 576px) {
 html {
    font-size: 13px;
    
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}